

        body {
            background-color: rgba(175, 175, 184, 0.959);
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
        }
        h1 {
            text-decoration: underline;
            background-color: rgb(85, 121, 109);
            color: rgb(41, 32, 32);
        }
        h2 {
            
            color: rgb(59, 20, 20);
        }
